.container {
    max-width: 1000px;
    margin: 30px auto;
}

body {
	color: #484848;
	margin:0px;
	font-size: 14px;
	padding:0px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
